<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

    <div fxFlex="100">
        <div>
            <h3>{{dish.name | uppercase}}</h3>
            <hr>
        </div>
    </div>

    <!-- Menu Card -->
   	<div fxFlex="40">
    	<div fxFlex *ngIf="dish">
            <!-- Create a Material Design Card -->
            <mat-card>
                <mat-card-title>
                    <h3 *ngIf="dish">{{ dish.name | uppercase }}</h3>
                </mat-card-title>
                <img md-card-image src="{{dish.image}}" alt="{{dish.name}}">
                <mat-card-content>
                    <p>{{dish.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="goBack()">BACK</button>
                    <button mat-raised-button>LIKE</button>
                    <button mat-raised-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
    	</div>
  	</div>

    <!-- T3-1. Included a list of comments about the dish into the dishdetail template using the Angular material list component. -->
    <!-- T3-2. Display the date of the comment using the Angular date pipe. -->
    <div fxFlex="40">
        <mat-list *ngIf="dish">
            <h3 matLine>Comments</h3>
            <mat-list-item *ngFor="let curComment of dish.comments">
                <p matLine>{{curComment.comment}}</p>
                <p matLine>{{curComment.rating}} Stars</p>
                <p matLine>--{{curComment.author}} {{curComment.date | date }}</p>
            </mat-list-item>
        </mat-list>

    </div>
</div>
