<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

    <div fxFlex="100">
        <div>
            <h3>{{dish.name | uppercase}}</h3>
            <hr>
        </div>
    </div>

    <!-- Menu Card -->
   	<div fxFlex="40" *ngIf="dish">
    	<div fxFlex>
            <!-- Create a Material Design Card -->
            <mat-card>
                <mat-card-title>
                    <h3 *ngIf="dish">{{ dish.name | uppercase }}</h3>
                </mat-card-title>
                <img md-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
                <mat-card-content>
                    <p>{{dish.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
                    <button mat-button (click)="goBack()">BACK</button>
                    <button mat-raised-button>LIKE</button>
                    <button mat-raised-button>SHARE</button>
                    <span class="flex-spacer"></span>
                    <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
                </mat-card-actions>
            </mat-card>
        </div>
  	</div>

    <!-- T3-1. Included a list of comments about the dish into the dishdetail template using the Angular material list component. -->
    <!-- T3-2. Display the date of the comment using the Angular date pipe. -->
    <div fxFlex="40" *ngIf="dish">
        <mat-list>
            <h3 matLine>Comments</h3>
            <mat-list-item *ngFor="let curComment of dish.comments">
                <p matLine>{{curComment.comment}}</p>
                <p matLine>{{curComment.rating}} Stars</p>
                <p matLine>--{{curComment.author}} {{curComment.date | date }}</p>
            </mat-list-item>
        </mat-list>
    </div>

    <!-- Progress spinner -->
    <div [hidden]="dish">
        <mat-spinner></mat-spinner><h4>Loading ... Please Wait</h4>
    </div>
</div>

<!-- Send comment Section -->
<div class="container">
    <div fxFlex fxFlexOffset="20px" class="form-size">
        <h3>Send us your Comment</h3>
        <!-- Just for prototyping -->
        <p>{{ commentForm.value | json }} {{ commentForm.status | json }}</p>

        <!-- Comment form -->
        <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field>
                <input matInput formControlName="author" placeholder="Name" type="text" required>
                <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-slider thumbLabel tickInterval="1" min="1" max="5" step="1" value="5"></mat-slider>
            </p>
            <p>
                <mat-form-field>
                <input matInput formControlName="comment" placeholder="Your Comment" type="text" required>
                <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <button type="submit" mat-button class="background-primary text-floral-white"
                [disabled]="commentForm.invalid">Submit</button>
            </p>
        </form>
    </div>
</div>